{% extends "base.html.twig" %}
{% block title %}Pagina non trovata: {{ status_text }}{% endblock %}

{% block fos_user_content %}
    <div class="d-flex justify-content-center">
        <div class="callout callout-highlight warning justify-content-center">
            <div class="callout-title" data-toggle="collapse" href="#error" >
                <svg class="icon"><use xlink:href="{{asset('build/svg/sprite.svg#it-help-circle')}}"></use></svg>{{ status_code }} {{ status_text }}
            </div>
            <p><strong>Pagina non trovata</strong></p>
            <p>Controllare di non aver commesso errori<br/>nella digitazione dell'indirizzo della pagina</p>
            <div class="collapse" id="error">{{ exception.message }}</div>
        </div>
    </div>
{% endblock %}
