{% extends "base.html.twig" %}
{% block title %}Non si dispone dei diritti per visualizzare questa pagina: {{ status_text }}{% endblock %}

{% block fos_user_content %}
    <div class="d-flex justify-content-center">
        <div class="callout callout-highlight danger justify-content-center">
            <div class="callout-title">
                <svg class="icon"><use xlink:href="{{asset('build/svg/sprite.svg#it-info-circle')}}"></use></svg>{{ status_code }} {{ status_text }}
            </div>
            <p>Non si dispone dei diritti per visualizzare questa pagina</p>
            <p><strong>{{ exception.message }}</strong></p>
        </div>
    </div>
{% endblock %}
