{% extends "base.html.twig" %}
{% block title %}Si e' verificato un errore: {{ status_text }}{% endblock %}

{% block fos_user_content %}
    <div class="d-flex justify-content-center">
        <div class="callout callout-highlight danger justify-content-center">
            <div class="callout-title" data-toggle="collapse" href="#error" >
                <svg class="icon"><use xlink:href="{{asset('build/svg/sprite.svg#it-info-circle')}}"></use></svg>{{ status_code }} {{ status_text }}
            </div>
            <p><strong>Si e' verificato un errore nella pagina</strong></p>
            <div class="collapse" id="error">{{ exception.message }}</div>
        </div>
    </div>
{% endblock %}